.dropdown-menu {
  width: 600px;
}

.product {
  display: flex;

  .product__info {
    width: 100%;
    align-self: center;
  }
  .product__count {
    width: 70px;
    align-self: center;
  }
  .product__price{
    width: 200px;
    align-self: center;
  }
}

.dropdown {
  .drop-btn {
    color: rgba(0, 0, 0, 0.5);
    .span {
      vertical-align: middle;
    }
  }

  .trash-icon {
    width: 25px;
  }
}

.remove-btn {
  min-width: 40px;
  width: 40px;
  height: 40px
}
