.form-widget input.form-control,
.form-widget select.form-control,
.form-widget textarea.form-control{
    max-width: none;
}


.product-images-custom .field-collection-item-row {
    display: block;
    position: relative;
}
.product-images-custom .field-collection-item-row .field-collection-item-action {
    position: absolute;
    right: 22px;
    top: 0;
}
.product-images-custom .input-file-container {
    height: 30px;
}
.product-images-custom .easyadmin-vich-image {
    position: relative;
}
.product-images-custom .easyadmin-vich-image .easyadmin-lightbox + .easyadmin-vich-image-actions {
    display: none;
}

.product-images-custom .form-widget .form-control-label, .product-images-custom .form-widget .form-group legend.col-form-label {
    text-align: left;
    margin: 5px 5px 5px 0;
    flex: none;
}

.product-images-custom .field-images_product_form {
    width: 49%;
    display: inline-block;
}

.product-images-custom .fa.fa-window-close:before {
    content: "\F014";
}