html {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 30px;
    margin-bottom: 90px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.btn{
    min-width: 140px;
}
@media (max-width: 767px) {
    body {
        margin-bottom: 110px;
    }
}
.custom-control-label{
    cursor: pointer;
    width: 100%;
}