.card {
  color: #000;
  transition: 0.15s ease-in-out;

  &:hover {
    text-decoration: none;
    color: #000;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);

    .card-body {
      background-color: rgba(0,0,0,0.04);

      .card-title{
        color: #145485;
      }
    }
  }

  .card-img-top{
    //height: 435px;
  }

  .card-body {
    transition: inherit;
    text-align: center;

    .card-title{
      height: 45px;
      font-weight: 600;
      overflow: hidden;
      transition: inherit;
    }

    .card-subtitle {
      text-align: center;
      margin-bottom: 0.75em;
    }

    button {
      width: 140px;
    }
  }
}