.navbar {
  font-size: 24px;
  line-height: normal;

  .sub-title {
    font-size: 18px;
    color: #757373;
  }

  .nav-item{
    font-size: 18px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .navbar {
    .sub-title {
      font-size: 14px;
    }
  }
}
